@font-face {font-family: "Flaticon";src: url("../fonts/Flaticon.eot");src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),url("../fonts/Flaticon.woff") format("woff"),url("../fonts/Flaticon.ttf") format("truetype"),url("../fonts/Flaticon.svg#Flaticon") format("svg");font-weight: normal;font-style: normal;}
@media screen and (-webkit-min-device-pixel-ratio:0) {@font-face {font-family: "Flaticon";src: url("./Flaticon.svg#Flaticon") format("svg");}}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {font-family: Flaticon;font-style: normal;}
.flaticon-layers:before {content: "";}
.flaticon-location:before {content: "";}
.flaticon-interface:before {content: "";}
.flaticon-chain:before {content: "";}
.flaticon-shapes:before {content: "";}
.flaticon-photo:before {content: "";}
.flaticon-layers-1:before {content: "";}
.flaticon-suitcase:before {content: "";}
.flaticon-luxury:before {content: "";}
.flaticon-message:before {content: "";}
.flaticon-settings:before {content: "";}
.flaticon-share-1:before {content: "";}
.flaticon-time:before {content: "";}
.flaticon-share:before {content: "";}
.flaticon-search:before {content: "";}
.flaticon-placeholder-1:before {content: "";}
.flaticon-network:before {content: "";}
.flaticon-search-magnifier-interface-symbol-1:before {content: "";}
.flaticon-search-magnifier-interface-symbol:before {content: "";}
.flaticon-shopping-cart:before {content: "";}
.flaticon-rate-star-button:before {content: "";}
.flaticon-college-graduation:before {content: "";}
.flaticon-clock-1:before {content: "";}
.flaticon-clock:before {content: "";}
.flaticon-smiley:before {content: "";}
.flaticon-google-plus:before {content: "";}
.flaticon-youtube-symbol:before {content: "";}
.flaticon-pinterest-logo:before {content: "";}
.flaticon-twitter-logo-silhouette:before {content: "";}
.flaticon-facebook:before {content: "";}
.flaticon-smartphone:before {content: "";}
.flaticon-phone-call:before {content: "";}
.flaticon-contact:before {content: "";}
.flaticon-mail:before {content: "";}
.flaticon-placeholder:before {content: "";}
.flaticon-placeholder-outline:before {content: "";}
.flaticon-left-arrow-1:before {content: "";}
.flaticon-left-arrow:before {content: "";}
.flaticon-right-arrow:before {content: "";}
.flaticon-left:before {content: "";}
.flaticon-right-arrow-angle:before {content: "";}
.flaticon-pie-chart:before {content: "";}
.flaticon-leaf-1:before {content: "";}
.flaticon-business-affiliate-network:before {content: "";}
.flaticon-collaboration:before {content: "";}
.flaticon-organization:before {content: "";}
.flaticon-headphones:before {content: "";}
.flaticon-line-chart:before {content: "";}
.flaticon-24-hours-delivery:before {content: "";}